[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bottle = "*"
pypwm = {git = "https://github.com/patarapolw/pypwm.git", editable = true}
cython = "==0.26.1"
"d4a76af" = {file = "https://github.com/kivy/kivy/archive/master.zip"}
memorable_password = "*"
"jinja2" = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
