<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/common.css">

    <title>Password for {{ name }}</title>
</head>
<body>
    <div class="container">
        <form id="passwordForm">
            <div class="row mt-3">
                <div class="row">Password for</div>
                <div class="row">
                    <input class="form-control" type="text" id="name" name="name" value="{{ name }}"/>
                </div>
            </div>

            {% for k, v in content.items() %}
                <div class="row mt-3">
                    <div class="row oldKey">{{ k }}</div>
                    {% if k == 'password' %}
                        <div class="row">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="{{ k }}" aria-describedby="newPassword" id="password" name="{{ k }}" value="{{ v }}"/>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="newPassword"><i class="fas fa-sync-alt"></i></span>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <textarea class="form-control" id="{{ k }}" name="{{ k }}">{{ v }}</textarea>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <div id="newItems">
                <div class="row mt-3">
                    <div class="row">
                        <input type="text" placeholder="New key" class="newKey lastKey form-control"/>
                    </div>
                    <div class="row">
                        <input type="text" class="newValue lastValue form-control" disabled/>
                    </div>
                </div>
            </div>
        </form>

        <div class="buttons">
            <button type="button" class="btn btn-info" id="save">
                <i class="far fa-save"></i>
            </button>
            <button type="button" class="btn btn-warning" id="reset">
                <i class="far fa-times-circle"></i>
            </button>
            <button type="button" class="btn btn-danger" id="delete">
                <i class="far fa-trash-alt"></i>
            </button>
            <button type="button" class="btn btn-light" id="exit">
                <i class="fas fa-backward"></i>
            </button>
        </div>
    </div>

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/password.js"></script>
</body>
</html>
